@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-black: #000000;

  --color-grey: #949494;
  --color-dark-grey: #2c2c2c;
  --color-light-grey: #cccccc;

  --color-lime: #00ff84;
  --color-cherry: #ff0044;
  --color-indigo: #4a3aff;
}

@layer base {
  body {
    @apply bg-black;
  }

  h1 {
    @apply font-roboto font-bold text-3xl;
  }

  h2 {
    @apply font-roboto font-bold text-xl capitalize;
  }

  h3 {
    @apply font-roboto text-base;
  }

  p {
    @apply font-roboto text-[14px];
  }

  section {
    @apply flex flex-col space-y-4;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto px-4;
  }

  .page-wrapper {
    @apply flex flex-col space-y-6;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .detail {
    @apply rounded-t-2xl bg-white/5 p-4;
  }

  .card {
    @apply rounded-2xl bg-white/5 p-4;
  }

  .card-inner {
    @apply flex flex-col space-y-2;
  }
}
