@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;

  --color-black: #000000;

  --color-grey: #949494;
  --color-dark-grey: #0f0f0f;
  --color-light-grey: #cccccc;

  --color-lime: #00ff84;
  --color-cherry: #ff0044;
  --color-indigo: #4a3aff;
}

@layer base {
  body {
    @apply bg-black;
  }

  h1 {
    @apply font-roboto font-bold text-3xl capitalize;
  }

  h2 {
    @apply font-roboto font-bold text-xl capitalize;
  }

  h3 {
    @apply font-roboto text-base capitalize;
  }

  p {
    @apply font-roboto text-[14px];
  }

  label {
    @apply font-roboto text-lg;
  }

  input {
    @apply p-2 placeholder:text-grey bg-black text-grey text-base rounded-lg outline-none;
  }

  textarea {
    @apply p-2 placeholder:text-grey bg-black text-grey text-base rounded-lg outline-none;
  }

  select {
    @apply p-2 placeholder:text-grey bg-black text-grey text-base rounded-lg outline-none capitalize;
  }

  section {
    @apply flex flex-col space-y-4;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto px-4 overflow-hidden;
  }

  .page-wrapper {
    @apply flex flex-col space-y-6;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .detail {
    @apply rounded-t-2xl bg-dark-grey p-4;
  }

  .card {
    @apply rounded-2xl bg-dark-grey p-4;
  }

  .card-inner {
    @apply flex flex-col space-y-2;
  }

  .cta-1 {
    @apply bg-indigo rounded-lg p-2 text-white text-center;
  }

  .carousel {
    @apply flex flex-row space-x-4 overflow-x-auto -mr-4 pr-4;
  }
}
